/* MediumCard.module.css */
.card {
  display: flex;
  flex-direction: row; /* Ensures the image and text section are in a row */
  background: #fff;
  overflow: hidden;
  margin: 30px auto;
  width: 80%;
  align-items: stretch; /* Align items stretch to make the image and text section the same height */
  padding-bottom: 40px;
  border-bottom: 2px solid #ddd;
  max-width: 1200px;
}

.articleImage {
  width: 40vh;
  height: 30vh;
  object-fit: cover;
  border-radius: 15px; /* Adjust border-radius to only the left corners */
}

.textSection {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  height: 300px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
  cursor: pointer;
  transition: color 0.2s ease;
  text-decoration: none;
}

.title:hover {
  color: #007bff;
  text-decoration: underline;
}

.date {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 9; /* Limit text to three lines */
  -webkit-box-orient: vertical;
}

.showMoreButton {
  background: #007bff;
  padding: 12px 40px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: none;
  min-width: 200px;
  margin: 40px auto;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.showMoreButton:hover {
  background: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  color: white;
  text-decoration: none;
}

.buttonContainer {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column; /* Stack image and text on top of each other on smaller screens */
    width: 70%; /* Increase width to fit smaller screens */
    margin: 20px auto;
    padding-bottom: 20px;
  }

  .articleImage {
    width: 100%; /* Allow the image to scale with the container */
    height: 30vh;
    min-width: unset;
    min-height: unset;
    border-radius: 8px; /* Adjust border-radius to only the top corners */
  }

  .textSection {
    margin: 15px 0;
    height: auto;
    padding: 0 15px;
  }

  .title {
    font-size: 18px;
  }

  .description {
    -webkit-line-clamp: 6;
    font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    width: 85%; /* Adjust the width for tablets */
  }

  .articleImage {
    width: 35vh;
    height: 26vh;
  }

  /* You can add more styles for tablet-specific adjustments here */
}

/* Large Screen Styles */
@media (min-width: 1025px) {
  .card {
    width: 75%; /* Adjust the width for large screens */
  }

  .articleImage {
    max-width: 250px; /* Adjust the max width for larger screens if necessary */
  }

  /* You can add more styles for large screen adjustments here */
}
