.top {
  margin-top: 5vh;
}

.cardgenBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  padding: 10px;
}

.cardgenBox h1 {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 3rem;
  color: black;
  text-align: center;
}

.cardgenBox h3 {
  margin-bottom: 1vh;
  font-size: 2rem;
  color: black;
}

.icon {
  margin-top: 4vh;
  margin-bottom: 4vh;
  height: 3rem;
}
.boxContent {
  display: block;
  max-width: 35vw;
  padding: 10px;
  text-align: left;
  font-size: 1.5rem;
}
.about {
  color: black;
  padding: 15px;
  border-radius: 15px;
  width: 60%;
  max-width: 800px;
  margin: 3vh auto 3vh auto;
}
.about p {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.skills {
  margin-top: 3vh;
}
.skills ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
}
.skills li {
  margin-left: 2vw;
}
.skills img {
  height: 2.75rem;
  width: 2.75rem;
  margin-bottom: 2vh;
}

.subheader {
  font-size: 2rem;
  font-weight: bold;
  color: blue;
  text-align: center;
  margin-top: 5vh;
}
.footer {
  width: 100%;
  background: black;
  color: white;
  padding-left: 20vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 4vh;
  margin-top: 5vh;
}
.footer p {
  font-size: 2rem;
}

.resume {
  display: flex;
  justify-content: center;
}
.tilesContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 1032px;
  justify-content: center;
}

.footerDescription {
  max-width: 70vw;
}
@media (min-width: 1000px) {
  .description {
    max-width: 40vh;
    min-height: 30vh;
    font-size: 2vh;
    color: black;
  }
}
@media (max-width: 800px) {
  .boxContent {
    display: block;
    max-width: 75vw;
    padding: 10px;
    font-size: 0.75rem;
  }
  .footer p {
    font-size: 10px;
  }
  .cardgenBox p {
    text-align: center;
  }
  .cardgenBox {
    text-align: center;
  }
  .skills ul {
    font-size: 1.5rem;
  }
  .skills img {
    height: 2rem;
    width: 2rem;
  }
  .about {
    width: 80%;
  }
}
@media (max-width: 1350px) {
  .boxContent {
    display: block;
    max-width: 75vw;
    padding: 10px;
    font-size: 1rem;
  }
  .cardgenBox p {
    text-align: center;
  }
}
