.cardgenBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  padding: 10px;
}
.cardgenBox h3 {
  margin-top: 3vh;
  margin-bottom: 1vh;
  font-size: 3vh;
  color: black;
}
.card {
  margin-bottom: 5vh;
  margin-top: 5vh;
  width: 40vh;
  height: 30vh;
}
@media (max-width: 1100px) {
  .card {
    display: none;
  }
}
.icon {
  margin-top: 4vh;
  margin-bottom: 4vh;
  height: auto;
  width: 3rem;
  height: 4vh;
}
.boxContent {
  display: block;
  max-width: 35vw;
  padding: 10px;
  align-self: right;
}
@media (max-width: 1100px) {
  .boxContent {
    display: block;
    max-width: 75vw;
    padding: 10px;
    align-self: right;
  }
}

.boxContent h1 {
  font-size: 6vh;
  margin-top: 5vh;
}
.boxContent p {
  font-size: 2.4vh;
}

.skills {
  height: 8vh;
  margin-top: 3vh;
  align-items: center;
  max-width: 50vw;
  display: block;
}
.skills ul {
  font-size: 3vh;
  font-weight: bold;
  display: flex;
  padding: 0;
}
.skills li {
  margin-left: 4vw;
  height: 3vh;
  padding: 0;
}
.skills img {
  height: 4.1vh;
}
.subheader {
  font-size: 3vh;
  font-weight: bold;
  color: blue;
}
.footer {
  width: 100%;
  background: black;
  color: white;
  padding-left: 20vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 4vh;
}
.footer p {
  font-size: 2rem;
}
@media (max-width: 1100px) {
  .footer p {
    font-size: 10px;
  }
}
.resume {
  display: flex;
  max-width: 50vw;
}
.project {
  margin-top: 3vh;
  width: 40vh;
  height: 30vh;
  margin-bottom: 3vh;
}
@media (max-width: 1100px) {
  .project {
    margin-top: 3vh;

    width: 50vw;
    height: 37.5vw;
    margin-bottom: 3vh;
  }
}

@media (max-width: 1100px) {
  .projects p {
    display: none;
  }
}
.mobileprojectheader {
  margin-bottom: 2vh;
  font-size: 3vh;
  color: black;
}
@media (min-width: 1100px) {
  .mobileprojectheader {
    display: none;
  }
}
@media (max-width: 1100px) {
  .mobile {
    display: none;
  }
}
@media (min-width: 1100px) {
  .desktop {
    display: none;
  }
}
