.cardgenBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  padding: 10px;
}

.cardgenBox h1 {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 3rem;
  color: black;
}
.cardgenBox h3 {
  margin-bottom: 1vh;
  font-size: 2rem;
  color: black;
}
.card {
  margin-bottom: 5vh;
  margin-top: 5vh;
  width: 40vh;
  height: 30vh;
}
.face {
  margin-bottom: 5vh;
  margin-top: 5vh;
  width: 40vh;
  height: 40vh;
}
@media (max-width: 800px) {
  .card,
  .face {
    display: none;
  }
}
.icon {
  margin-top: 4vh;
  margin-bottom: 4vh;
  height: 3rem;
}
.boxContent {
  display: block;
  max-width: 35vw;
  padding: 10px;
  text-align: left;
  font-size: 1.5rem;
}
@media (max-width: 800px) {
  .boxContent {
    display: block;
    max-width: 75vw;
    padding: 10px;
    font-size: 0.75rem;
  }
}
.projectContent {
  display: block;
  max-width: 35vw;
  padding: 10px;
  align-self: right;
}

.skills {
  height: 8vh;
  margin-top: 3vh;
  align-items: center;
  max-width: 50vw;
  display: block;
}
.skills ul {
  font-size: 3vh;
  font-weight: bold;
  display: flex;
  padding: 0;
}
.skills li {
  margin-left: 2vw;
  height: 3vh;
  padding: 0;
}
.skills img {
  height: 4.1vh;
}
.subheader {
  font-size: 2rem;
  font-weight: bold;
  color: blue;
  text-align: center;
  margin-top: 5vh;
}
.footer {
  width: 100%;
  background: black;
  color: white;
  padding-left: 20vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 4vh;
}
.footer p {
  font-size: 2rem;
}
@media (max-width: 800px) {
  .footer p {
    font-size: 10px;
  }
}
.resume {
  display: flex;
  max-width: 50vw;
}
.video {
  margin-top: 3vh;
  width: 40vh;
  height: 30vh;
  margin-bottom: 3vh;
}
.slideshow {
  position: relative;
  width: 100%;
}
.buttonRight {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.buttonRight:hover {
  background-color: black;
}
.buttonLeft {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.buttonLeft:hover {
  background-color: black;
}
.slide {
  margin-top: 3vh;
  width: 40vh;
  height: 30vh;
  margin-bottom: 3vh;
}
.tile {
  display: block;
  margin-bottom: 5vh;
  padding: 10px;
  margin-left: 3vw;
  margin-right: 3vw;
}
.tile h2 {
  font-size: 2rem;
  color: black;
  text-align: center;
}
.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, 45vh);
  grid-row-gap: 0.5em;
  grid-column-gap: 1em; /*center the flexbox*/
  justify-content: center;
}
