/* pages/tiles/title.module.css */
.tileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tileImage {
  border-radius: 8px;
  margin-bottom: 20px;
}

.tileDescription {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.2em;
}
